<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM.dd hh:mm:ss aa} %p - %C{1}.%M(%L) || %m%n" />
		</layout>
	</appender>

	<appender name="FILE_APPENDER"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="file-Log.txt" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%r[%t]%-5p %c %x - %m %d{yyyy MMM dd HH:mm:ss,SSS}\n" />
		</layout>
	</appender>

	<appender name="ROLL_APPENDER"
		class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="ALL" />
		<param name="File"
			value="/app/logs/testinsu2/application_log.xml" />
		<param name="Append" value="true" />
		<param name="ImmediateFlush" value="true" />
		<param name="BufferedIO" value="false" />
		<param name="BufferSize" value="8192" />
		<param name="MaxBackupIndex" value="9" />
		<param name="MaxFileSize" value="5MB" />
		<layout class="org.apache.log4j.xml.XMLLayout">
			<param name="locationInfo" value="false" />
		</layout>
	</appender>

	<appender name="DAILY_APPENDER_SEARCH"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="datePattern" value="yyyy-MM-dd" />
		<param name="file" value="${u2search.root}/WEB-INF/logs/search.log" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%n %d{yyyy/MM/dd HH:mm:ss} %-5p %x %C{1}.%M(F:%L) - %m  %n" />
		</layout>
	</appender>

	<appender name="DAILY_APPENDER_INDEX"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="datePattern" value="yyyy-MM-dd" />
		<param name="file" value="D:/JAVA/workspace/u2/U2Search/WebContent/WEB-INF/logs/index.log" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%n %d{yyyy/MM/dd HH:mm:ss} %-5p %x %C{1}.%M(F:%L) - %m  %n" />
		</layout>
	</appender>


	<logger name="com.tistory.devyongsik" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE"/>
	</logger>

	 <root>
	  	<level value="warn"/>
	  	<appender-ref ref="CONSOLE"/>
	 </root>
</log4j:configuration>
